In [1]:
import pandas as pd

In [2]:
ls

9.11_SOL_2020-03-19_2020_12_31_calculate_componentes.csv
9.11_SOL_2020-03-26_2020-12-31_centrality.csv
9.19_SOL_2020-03-26~2020-12-31_centrality_weight.csv
9.24_combined_account.ipynb
SOL_2020-03-19_2020-06-30_TRX.csv
SOL_2020-07-01_2020-09-30_TRX.csv
SOL_2020-10-01_2020-12-31_TRX.csv
post_work/

In [4]:
df1 = pd.read_csv('9.17_SOL_2024_top_account.csv', index_col = 0)
df2 = pd.read_csv('9.19_SOL_2024_top_account_weight.csv', index_col = 0)

In [5]:
df1

                                                0
0    ABvqrPnSJ5YMofUVH2LsfoW4FMN8ST65FZZqxG6ziDd1
1    DU8xcxsCGKKiyLFd5sgvjtwpYUZBHeoWZeGXrpoF3C4h
2    Fwojic9QabpJsBuiPCbsUada8antGxPMVDYiZhgg6HT2
3    B47QjJRX8B5GcNtSjRQ5AXjqaj6hLSJ8KcoRVrix3Fvp
4    EaUghZfmuhgtZEEwaZwX5EBroz4WyH8VM5NSXi4tam5A
..                                            ...
476   mprMBsum5VED44sf3jJkeb59JTFSo9q2cYdmCSNyMX7
477  2pitsh8AvEVDwGUu3ADqM8MsNJQGLdH7fftcTrRgL4D4
478  88eydb1737nCKn418s3Pjg9fxEyHPAejVYR4cgaHxT6z
479  DCZPFdbaumPesuEbFJVp2wQzevoGNyqyiTQ4BnimQVte
480   metTJbdunofjZYXb9nWh78DKs3iCQNSptjVxim5XTSu

[481 rows x 1 columns]

In [6]:
df2

                                                0
0    5Mobiy4U8xtesXXcaZW4UGXTRxR6cpzsj68p8xFsiFD4
1    F28QmzM2L4MtygpCG5XurV8YX6Ne6bCva44CkKBBLCjN
2    42brAgAVNzMBP7aaktPvAmBSPEkehnFQejiZc53EpJFd
3    5XM9HgYFpjfzWirdMjzyYtZ3ymoDNmi2JBZUpMt8w9Zn
4    B7N3XQhksX7aXnRZ8A1jNqNM5n3rev33oXVTfB6AwZNM
..                                            ...
712  J5HrRJJ6yPoNSt3dkd6Qb7CSvq1dWihwrBYA6eGCAYvs
713  DcVMRxw4Fgrmr5rkvaHHDaAP9SGbr8qxKH8s21wFrHY2
714  J4LqsV6WjJ3YAtvVBHyg5UUGo6mVDDnTrkAUCgm7AiXi
715  HexkqtFMmBJXUHco9KoXKocQcLSgfCf2Hdz1Qa3jcSEA
716  2Puz8KpjW4UVesWdCbUsrrUjYiw9DCios9vjTyo7TJKz

[717 rows x 1 columns]

In [8]:
ac1 = list(df1['0'])
ac2 = list(df2['0'])

In [9]:
ac1.extend(ac2)

In [8]:
df = pd.concat([df1,df2])
df

                                                0
0    ABvqrPnSJ5YMofUVH2LsfoW4FMN8ST65FZZqxG6ziDd1
1    DU8xcxsCGKKiyLFd5sgvjtwpYUZBHeoWZeGXrpoF3C4h
2    Fwojic9QabpJsBuiPCbsUada8antGxPMVDYiZhgg6HT2
3    B47QjJRX8B5GcNtSjRQ5AXjqaj6hLSJ8KcoRVrix3Fvp
4    EaUghZfmuhgtZEEwaZwX5EBroz4WyH8VM5NSXi4tam5A
..                                            ...
712  J5HrRJJ6yPoNSt3dkd6Qb7CSvq1dWihwrBYA6eGCAYvs
713  DcVMRxw4Fgrmr5rkvaHHDaAP9SGbr8qxKH8s21wFrHY2
714  J4LqsV6WjJ3YAtvVBHyg5UUGo6mVDDnTrkAUCgm7AiXi
715  HexkqtFMmBJXUHco9KoXKocQcLSgfCf2Hdz1Qa3jcSEA
716  2Puz8KpjW4UVesWdCbUsrrUjYiw9DCios9vjTyo7TJKz

[1198 rows x 1 columns]

In [9]:
df = df.drop_duplicates()

In [10]:
df.reset_index(drop = True)

                                                0
0    ABvqrPnSJ5YMofUVH2LsfoW4FMN8ST65FZZqxG6ziDd1
1    DU8xcxsCGKKiyLFd5sgvjtwpYUZBHeoWZeGXrpoF3C4h
2    Fwojic9QabpJsBuiPCbsUada8antGxPMVDYiZhgg6HT2
3    B47QjJRX8B5GcNtSjRQ5AXjqaj6hLSJ8KcoRVrix3Fvp
4    EaUghZfmuhgtZEEwaZwX5EBroz4WyH8VM5NSXi4tam5A
..                                            ...
767  DPowwYPEo8w1x12bucpcqr5aStiAyygfQuqJRix5LYSi
768  J5HrRJJ6yPoNSt3dkd6Qb7CSvq1dWihwrBYA6eGCAYvs
769  DcVMRxw4Fgrmr5rkvaHHDaAP9SGbr8qxKH8s21wFrHY2
770  HexkqtFMmBJXUHco9KoXKocQcLSgfCf2Hdz1Qa3jcSEA
771  2Puz8KpjW4UVesWdCbUsrrUjYiw9DCios9vjTyo7TJKz

[772 rows x 1 columns]

In [11]:
df.to_csv('9.24_SOL_2024_top_account_combined.csv')